# Merging Tables

In [1]:
import pickle

In [2]:
with open('./Datasets/census.p', 'rb') as f:
    census = pickle.load(f)

census.head()

,ward,pop_2000,pop_2010,change,address,zip
0,1,52951,56149,6%,2765 WEST SAINT MARY STREET,60647
1,2,54361,55805,3%,WM WASTE MANAGEMENT 1500,60622
2,3,40385,53039,31%,17 EAST 38TH STREET,60653
3,4,51953,54589,5%,31ST ST HARBOR BUILDING LAKEFRONT TRAIL,60653
4,5,55302,51455,-7%,JACKSON PARK LAGOON SOUTH CORNELL DRIVE,60637

In [3]:
with open('./Datasets/ward.p', 'rb') as f:
    ward = pickle.load(f)
ward.head()

  ward            alderman                          address    zip
0    1  Proco "Joe" Moreno        2058 NORTH WESTERN AVENUE  60647
1    2       Brian Hopkins       1400 NORTH  ASHLAND AVENUE  60622
2    3          Pat Dowell          5046 SOUTH STATE STREET  60609
3    4    William D. Burns  435 EAST 35TH STREET, 1ST FLOOR  60616
4    5  Leslie A. Hairston            2325 EAST 71ST STREET  60649

In [4]:
census.shape

(50, 6)

In [5]:
ward.shape

(50, 4)

## Inner Join

> An inner join will only return rows that have matching values in both tables.

In [6]:
ward_census = ward.merge(census, on="ward")
print(ward_census.shape)
ward_census.head()

(50, 9)

,ward,alderman,address_x,zip_x,pop_2000,pop_2010,change,address_y,zip_y
0,1,"Proco ""Joe"" Moreno",2058 NORTH WESTERN AVENUE,60647,52951,56149,6%,2765 WEST SAINT MARY STREET,60647
1,2,Brian Hopkins,1400 NORTH ASHLAND AVENUE,60622,54361,55805,3%,WM WASTE MANAGEMENT 1500,60622
2,3,Pat Dowell,5046 SOUTH STATE STREET,60609,40385,53039,31%,17 EAST 38TH STREET,60653
3,4,William D. Burns,"435 EAST 35TH STREET, 1ST FLOOR",60616,51953,54589,5%,31ST ST HARBOR BUILDING LAKEFRONT TRAIL,60653
4,5,Leslie A. Hairston,2325 EAST 71ST STREET,60649,55302,51455,-7%,JACKSON PARK LAGOON SOUTH CORNELL DRIVE,60637

In [7]:
ward_census = ward.merge(census, on="ward", suffixes=('_ward','_cen'))
print(ward_census.shape)
ward_census.head()

(50, 9)

,ward,alderman,address_ward,zip_ward,pop_2000,pop_2010,change,address_cen,zip_cen
0,1,"Proco ""Joe"" Moreno",2058 NORTH WESTERN AVENUE,60647,52951,56149,6%,2765 WEST SAINT MARY STREET,60647
1,2,Brian Hopkins,1400 NORTH ASHLAND AVENUE,60622,54361,55805,3%,WM WASTE MANAGEMENT 1500,60622
2,3,Pat Dowell,5046 SOUTH STATE STREET,60609,40385,53039,31%,17 EAST 38TH STREET,60653
3,4,William D. Burns,"435 EAST 35TH STREET, 1ST FLOOR",60616,51953,54589,5%,31ST ST HARBOR BUILDING LAKEFRONT TRAIL,60653
4,5,Leslie A. Hairston,2325 EAST 71ST STREET,60649,55302,51455,-7%,JACKSON PARK LAGOON SOUTH CORNELL DRIVE,60637

## One-to-many Relationship

In [8]:
with open('./Datasets/licenses.p', 'rb') as f:
    licenses = pickle.load(f)

print(licenses.shape)
licenses.head()

(10000, 6)

  account ward  aid                   business               address    zip
0  307071    3  743       REGGIE'S BAR & GRILL       2105 S STATE ST  60616
1      10   10  829                 HONEYBEERS   13200 S HOUSTON AVE  60633
2   10002   14  775                CELINA DELI     5089 S ARCHER AVE  60632
3   10005   12  NaN  KRAFT FOODS NORTH AMERICA        2005 W 43RD ST  60609
4   10044   44  638  NEYBOUR'S TAVERN & GRILLE  3651 N SOUTHPORT AVE  60613

In [9]:
wards_licenses = ward.merge(licenses, on="ward", suffixes=('_ward','lic'))
print(wards_licenses.shape)
wards_licenses.head()

(10000, 9)

,ward,alderman,address_ward,zip_ward,account,aid,business,addresslic,ziplic
0,1,"Proco ""Joe"" Moreno",2058 NORTH WESTERN AVENUE,60647,12024,NaN,DIGILOG ELECTRONICS,1038 N ASHLAND AVE,60622
1,1,"Proco ""Joe"" Moreno",2058 NORTH WESTERN AVENUE,60647,14446,743,EMPTY BOTTLE INC,1035 N WESTERN AVE 1ST,60622
2,1,"Proco ""Joe"" Moreno",2058 NORTH WESTERN AVENUE,60647,14624,775,LITTLE MEL'S HOT DOG,2205 N CALIFORNIA AVE,60647
3,1,"Proco ""Joe"" Moreno",2058 NORTH WESTERN AVENUE,60647,14987,NaN,MR. BROWN'S LOUNGE,2301 W CHICAGO AVE 1ST,60622
4,1,"Proco ""Joe"" Moreno",2058 NORTH WESTERN AVENUE,60647,15642,814,Beat Kitchen,2000-2100 W DIVISION ST,60622

## Merging multiple tables

df1.merge(df2, on="col") \
   .merge(df3, on="col")

In [19]:
licenses_ward_census = ward.merge(licenses, on="ward", suffixes=('_ward','_lic')) \
    .merge(census, on="ward")
    
licenses_ward_census

,ward,alderman,address_ward,zip_ward,account,aid,business,address_lic,zip_lic,pop_2000,pop_2010,change,address,zip
0,1,"Proco ""Joe"" Moreno",2058 NORTH WESTERN AVENUE,60647,12024,NaN,DIGILOG ELECTRONICS,1038 N ASHLAND AVE,60622,52951,56149,6%,2765 WEST SAINT MARY STREET,60647
1,1,"Proco ""Joe"" Moreno",2058 NORTH WESTERN AVENUE,60647,14446,743,EMPTY BOTTLE INC,1035 N WESTERN AVE 1ST,60622,52951,56149,6%,2765 WEST SAINT MARY STREET,60647
2,1,"Proco ""Joe"" Moreno",2058 NORTH WESTERN AVENUE,60647,14624,775,LITTLE MEL'S HOT DOG,2205 N CALIFORNIA AVE,60647,52951,56149,6%,2765 WEST SAINT MARY STREET,60647
3,1,"Proco ""Joe"" Moreno",2058 NORTH WESTERN AVENUE,60647,14987,NaN,MR. BROWN'S LOUNGE,2301 W CHICAGO AVE 1ST,60622,52951,56149,6%,2765 WEST SAINT MARY STREET,60647
4,1,"Proco ""Joe"" Moreno",2058 NORTH WESTERN AVENUE,60647,15642,814,Beat Kitchen,2000-2100 W DIVISION ST,60622,52951,56149,6%,2765 WEST SAINT MARY STREET,60647
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,50,Debra L. Silverstein,"2949 WEST DEVON AVENUE, SUITE A",60659,6604,829,SIBLINGS,2827 W HOWARD ST,60645,62383,55809,-11%,2638 WEST NORTH SHORE AVENUE,60645
9996,50,Debra L. Silverstein,"2949 WEST DEVON AVENUE, SUITE A",60659,66512,NaN,CHANDNI BOUTIQUE INC,2503 W DEVON AVE 2ND,60659,62383,55809,-11%,2638 WEST NORTH SHORE AVENUE,60645
9997,50,Debra L. Silverstein,"2949 WEST DEVON AVENUE, SUITE A",60659,66638,NaN,PIDC PAN HOUSE,6342 N WESTERN AVE 1ST,60659,62383,55809,-11%,2638 WEST NORTH SHORE AVENUE,60645
9998,50,Debra L. Silverstein,"2949 WEST DEVON AVENUE, SUITE A",60659,80484,NaN,WHEEL OF CHICAGO,6229 N WESTERN AVE,60659,62383,55809,-11%,2638 WEST NORTH SHORE AVENUE,60645
9999,50,Debra L. Silverstein,"2949 WEST DEVON AVENUE, SUITE A",60659,81088,763,BISMILLAH ZABIHA MEAT & GROCER,2742 W DEVON AVE # STREE,60659,62383,55809,-11%,2638 WEST NORTH SHORE AVENUE,60645